[submodule "third-party/folly"]
	path = third-party/folly
	url = https://github.com/facebook/folly.git
[submodule "third-party/zlog"]
	path = third-party/zlog
	url = https://github.com/HardySimpson/zlog.git
